@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before,body,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,body {
  font-size: 10px;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

.gradient-background {
  background: linear-gradient(130deg,#ac0506,#2d7f97,#b91d87,#b3c38b);
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;
}
header{ 
 background-color: rgba(255, 255, 255, 0.1); /* 20% transparent white */
  backdrop-filter: blur(25px); /* Apply a 15px blur */
  -webkit-backdrop-filter: blur(15px); /* Ensure compatibility with Safari */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}